# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archives
*.tar
*.tar.gz
*.zip
*.rar
*.7z

# User global rules
uv.lock
.venv
__pycache__/
*.py[cod]

# Database & Build Binaries
*.db
*.sqlite3
*.sqlite
firmware/aquapulse_firmware_sim
firmware/src/*.o

# Local Documentation
walkthru.md

# SPICE Simulation Temporary Outputs
ac_out.txt
tran_out.txt
*.raw

scripts/
*.blend
*.blend1
